<link rel="stylesheet" href="https://jsdelivr.net" integrity="sha384-GvrOXuhMATgKmSwzrTYTV8xgumhLuMBDYIrmUVIgZUbS5DCMEWhCoJZhDXPUPPY" crossorigin="anonymous">
<script defer src="https://jsdelivr.net" integrity="sha384-cpW21h6AZV/phNYdl+hUGyXOPN9bWrNvR2MtITsN1N3EVrEPVovhNvL8YgUkS4+o" crossorigin="anonymous"></script>
<script defer src="https://jsdelivr.net" integrity="sha384-+VBxd9r6XgURUqtZ1oIsth9nHWup9lL+KhGj6SgywKpJ7hknlKnIzOdMvFIkLphV" crossorigin="anonymous"
    onload="renderMathInElement(document.body);"></script>
